extends _layout
block content
    .section.no-pad-banner
        container
            br
            br
            h1.header.center.orange-text
                | Minecraftia Launcher
            .row.center
                .header.col.s12.light
                    | A Minecraft launcher built for Mission Minecraft. Licensed under the BSD 3-Clause License.
            .row.center
                a.btn-large.waves-effect.waves-light.orange#download-button(href='https://github.com/Mission-Minecraft/Launcher')
                    | View on GitHub
            br
            br
