nav.light-blue.lighten-1(role='navigation')
    .nav-wrapper.container
        img(src='assets/images/logo.png', width='64px', height='64px')
        a.brand-logo(href='news.html')
            | Minecratia Launcher
        ul.right
            li
                a(href='news.html')
                    | News
            li
                a(href='modpacks.html')
                    | Modpacks
            li
                a(href='instances.html')
                    | Instances
            li
                a(href='maps.html')
                    | Maps
            li
                a(href='rs.html')
                    | Resource Packs
