extends _layout
block content
    .section.no-pad-banner
        .row
            .container
                h4.orange-text
                    | Introducting Minecraftia Launcher
                p
                    | For long Minecraft users have been subjected to trash launchers that are too busy thinking about reinventing the wheel to realise 
                    | that Mojang paved the way for a perfect launcher design. Over at Mission Minecraft we knew that this was unacceptable and we aim
                    | to create a launcher 100% compatible with the Vanilla launcher while still providing players quality modpacks and modpack creators
                    | the tools they need to create quality modpacks.
